<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baizhi.dao.VideoMapper">

    <select id="queryByReleaseTime" resultType="com.baizhi.po.VideoPO">
        select
        c.name cateName,
        v.id,v.title videoTitle,v.cover_path cover,v.video_path path,v.upload_time uploadTime,v.britf description,
        u.pic_img userPhoto
        from yx_category c right join yx_video v on c.id = v.category_id
        left join yx_user u on v.user_id = u.id
        order by v.upload_time desc
    </select>

    <select id="queryCateVideoList" resultType="com.baizhi.po.VideoPO">
        select
        v.id,v.title videoTitle,v.cover_path cover,v.video_path path,v.upload_time uploadTime,v.like_count likeCount,v.britf description,
        u.id userId,u.nick_name userName,
        c.id categoryId,c.name cateName
        from yx_video v left join yx_category c on v.category_id = c.id
        left join yx_user u on v.user_id = u.id
        where c.id = #{cateId}
    </select>

    <select id="queryByLikeVideoName" resultType="com.baizhi.po.VideoPO">
        select
        v.id,v.title videoTitle,v.cover_path cover,v.video_path path,v.upload_time uploadTime,v.like_count likeCount,v.britf description,
        u.id userId,u.nick_name userName,
        c.id categoryId,c.name cateName
        from yx_video v left join yx_category c on v.category_id = c.id
        left join yx_user u on v.user_id = u.id
        where v.title like '%${content}%'
    </select>
</mapper>